[submodule "Client/types/service-now"]
	path = Client/types/service-now
	url = https://github.com/erwinel/sn_typings_client_scoped.git
[submodule "ServerScoped/types/service-now"]
	path = ServerScoped/types/service-now
	url = https://github.com/erwinel/sn_typings_server_scoped.git
[submodule "ServerGlobal/types/service-now"]
	path = ServerGlobal/types/service-now
	url = https://github.com/erwinel/sn_typings_server_global.git
